<div class="container mt-2">
  <div class="card shadow-lg border-0 rounded-4">
    <div class="card-header bg-primary text-white text-center rounded-top-4">
      <h4 class="mb-0">Auto Save Form</h4>
    </div>

    <div class="card-body p-4">
      <form [formGroup]="form" class="needs-validation">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label fw-semibold">Current logical size(Tib)</label>
            <input
              type="number"
              formControlName="s0"
              class="form-control form-control-lg"
              placeholder="Enter Current logical size(Tib)"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label fw-semibold">Data Reduction Ratio</label>
            <input
              type="number"
              formControlName="drr"
              class="form-control form-control-lg"
              placeholder="Enter Data Reduction Ratio"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
          <label class="form-label fw-semibold">Years to project</label>
          <input
            type="number"
            formControlName="y"
            class="form-control form-control-lg"
            placeholder="Enter Years to project"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label fw-semibold">Yearly growth(%)</label>
          <input
          type="number"
            formControlName="g"
            class="form-control form-control-lg"
            placeholder="Enter Yearly growth(%)"
          />
        </div>
        </div>

        <div class="row mb-3">
        <div class="col-md-6">
          <label class="form-label fw-semibold">Daily change rate</label>
          <input
            type="number"
            formControlName="r_day"
            class="form-control form-control-lg"
            placeholder="Enter Daily change rate"
          />
        </div>

          <div class="col-md-6">
          <label class="form-label fw-semibold">Snapshots retained</label>
          <input
            type="number"
            formControlName="n_snap"
            class="form-control form-control-lg"
            placeholder="Enter Snapshots retained"
          />
        </div>
      </div>
      </form>

      <div class="text-end">
        <small [ngClass]="savingStatusClass" class="fw-semibold">
          {{ savingMessage }}
        </small>
      </div>
    </div>
  </div>
</div>
